body {
  box-sizing: border-box;
  background-color: #d1d1d1;
}
.App {
  width: 100%
}

.rest-test {

}

header {
  height: 80px;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > p {
  color: white;
  font-size: 1rem;
  width: 100px;
}

.table {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 0.7rem;

}
table {
  width: 96%;
  line-height: 40px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  border-spacing: 0;
}

thead {
  background-color: white;
  color: teal;
}

tbody {
  background-color: #fafafa;
}

.account {
  color: gray;
}

td {
  padding-left: 5px;
}